@using PagedList.Mvc
@model List<Common.ViewModels.BaoCaoBanHangViewModel>
@using Common.Ultil

<br />
<table class="table table-bordered table-middle table-lilac">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Ngày bán")
            </th>
            <th>
                @Html.DisplayName("Số hoá đơn")
            </th>
            <th>
                @Html.DisplayName("Tổng tiền (VNĐ)")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            FormatNumber number = new FormatNumber();
            <tr class="border-warning">
                <td>@item.ngayBan.ToString("dd/MM/yyyy")</td>
                <td>@item.soDonHang</td>
                <td>@number.FormatNumbers(@item.tongTien.ToString())</td>
            </tr>
        }
    </tbody>
</table>