@{
    ViewBag.Title = "Sửa loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i>Loại Sản Phẩm</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <button class="btn btn-lg btn-success btn-xs btn-push" id="submit"><i class="glyphicon glyphicon-save"></i> Lưu</button>

            <button class="btn btn-lg btn-success btn-xs btn-push" onclick="@("window.location.href='" + @Url.Action("Create", "LoaiHangHoa") + "'"); ">
                <i class="glyphicon glyphicon-edit"></i>
                Thêm mới loại sản phẩm
            </button>

            <button class="btn btn-lg btn-success btn-xs btn-push" onclick="@("window.location.href='" + @Url.Action("Index", "LoaiHangHoa") + "'"); ">
                <i class="glyphicon glyphicon-arrow-left"></i> Quay lại
            </button>

        </div>
    </div>

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <!-- Start input fields - basic form -->
                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">@ViewBag.Title</h3>
                        </div>

                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->

                    <div class="panel-body no-padding">
                        @using (Html.BeginForm("Edit", "LoaiHangHoa", FormMethod.Post, new { id = "basic-validate" }))
                        {
                            <div class="form-body">
                                @{Html.RenderAction("ThongTinLoaiHangHoa", "LoaiHangHoa");}
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $('#submit').click(function () {
        $('#basic-validate').submit();
    });
</script>


