@model Common.ViewModels.KiemKhoViewModel
@{
    ViewBag.Title = "Lập phiếu kiểm kho";
    Layout = "~/Areas/Admin/Views/Layout/HomeLayout.cshtml";
}

<script src="~/Scripts/Son/phieukiemkhoScripts.js"></script>
<link href="~/Content/assets/css/generalMessageError.css" rel="stylesheet" />

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-list-alt"></i>Phiếu Kiểm Kho</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <button class="btn btn-lg btn-success btn-xs btn-push" id="submit"><i class="glyphicon glyphicon-save"></i> Lưu</button>
            <button class="btn btn-lg btn-success btn-xs btn-push" id="print"><i class="glyphicon glyphicon-print"></i> In</button>
            <button class="btn btn-lg btn-success btn-xs btn-push" onclick="@("window.location.href='" + @Url.Action("Index", "KiemKho") + "'"); ">
                <i class="glyphicon glyphicon-arrow-left"></i> Quay lại
            </button>
        </div>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-9">
                <!-- Start bordered form -->
                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Thông tin sản phẩm</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body no-padding">
                        <div class="form-body">
                            <div class="form-group">
                                <label for="gender" class="col-sm-2 control-label">Sản phẩm</label>
                                <div class="col-sm-12">
                                    <select id="maHangHoa" class="chosen-select">
                                        @foreach (var item in ViewBag.danhSachHangHoa)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                
                            </div>
                            <table class="table table-responsive">
                                <tr>
                                    <td>Sản phẩm</td>
                                    <td>Đơn vị tính</td>
                                    <td>Số lượng đang có</td>
                                    <td>Số lượng kiểm tra</td>
                                    <td></td>
                                </tr>

                                <tr class="mycontainer" id="mainrow">
                                    <td>
                                        <input id="tenHangHoa" disabled="disabled" type="text" class="form-control rounded" />
                                    </td>
                                    <td>
                                        <input type="text" id="donViTinh" class="form-control rounded" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input type="text" id="soLuongHienTai" class="form-control rounded" disabled="disabled" />
                                    </td>
                                    <td>
                                        <input type="text" id="soLuongKiemTra" class="form-control rounded" oninput="checkQuantity()" onkeypress="    return checkNumber(event, this)" maxlength="4" />
                                        <h3 style="margin-top:-1%" hidden class="messageError  notifyinputQuantity messageErrorinputQuantity">Nhập số lượng!</h3>
                                    </td>

                                    <td>
                                        <input type="button" id="add" value="Thêm" style="padding:4px" class="btn btn-lg btn-success btn-xs btn-push" />
                                    </td>
                                </tr>
                            </table>
                            <span id="productItemError" class="messageError" style="color:red"></span>
                            <div id="orderItems" class="table-responsive" style="padding-top:15px"></div>
                            <div id="Items" hidden class="table-responsive"></div>
                            <input value="@ViewBag.maNhanVien" id="maNhanVien" type="hidden" class="form-control" style="width:200px" disabled="disabled" />
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Thông tin phiếu kiểm kho</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body no-padding">
                        <form class="form-horizontal form-bordered" role="form">
                            <div class="form-body">
                                <div class="form-group">
                                    <label for="firstname-1" class="col-sm-4 control-label">Số phiếu</label>
                                    <div class="col-sm-8">
                                        <input value="@ViewBag.soPhieuKiemKhoTuTang" type="text" id="soPhieuKiemKho" class="form-control rounded" disabled="disabled" />
                                    </div>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="password-1" class="col-sm-4 control-label">Ngày lập</label>
                                    <div class="col-sm-8">
                                        <input id="ngayKiemKho" value="@DateTime.Now.ToString("dd/MM/yyyy")" disabled="disabled" type="text" class="form-control rounded" />
                                    </div>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <label for="firstname-1" class="col-sm-4 control-label">Nhân viên</label>
                                    <div class="col-sm-8">
                                        <input value="@ViewBag.tenNhanVien" id="tenNhanVien" type="text" class="form-control rounded" disabled="disabled" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="firstname-1" class="col-sm-4 control-label">Ghi chú</label>
                                    <div class="col-sm-8">
                                        <textarea id="ghiChu" placeholder="Ghi chú viết tại đây" class="form-control rounded"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/bootstrap.min.js"></script>