@using PagedList.Mvc
@model PagedList.IPagedList<Common.ViewModels.PhieuBanHangViewModel>
@using Common.Ultil

<br />
<table class="table table-bordered table-middle table-lilac">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayName("Số phiếu bán hàng")
            </th>
            <th style="text-align:center">
                @Html.DisplayName("Ngày bán")
            </th>
            <th style="text-align:center">
                @Html.DisplayName("Tên nhân viên")
            </th>
            <th style="text-align:center">
                @Html.DisplayName("Tên khách hàng")
            </th>
            <th style="text-align:center">
                @Html.DisplayName("Số điện thoại")
            </th>
            <th style="text-align:center">
                @Html.DisplayName("Tổng tiền")
            </th>
            <th style="text-align:center">
                @Html.DisplayName("Trạng thái")
            </th>
            <th class="width-10" style="text-align:center">
                Hành động
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            FormatNumber number = new FormatNumber();
            <tr style="text-align:center">
                <td>@item.soPhieuBanHang</td>
                <td>@item.ngayBan.ToString("dd/MM/yyyy")</td>
                <td>@item.tenNhanVien</td>
                <td>@item.tenKhachHang</td>
                <td>@item.soDienThoai</td>
                <td>@number.FormatNumbers(@item.tongTien.ToString())</td>
                @if (@item.trangThai == true)
                {
                    <td>Hoàn thành</td>
                    <td>
                        <a href="@Url.Action("Detail", new { id = item.soPhieuBanHang })" class="btn btn-sm btn-success btn-xs btn-push"><i class="fa fa-eye"></i> Xem</a>
                        <a href="@Url.Action("Delete", new { id = item.soPhieuBanHang })" class="btn btn-sm btn-danger btn-xs btn-push"><i class="fa fa-trash"></i> Hủy</a>
                    </td>
                }
                else
                {
                    <td>Đã hủy</td>
                    <td>
                        <a href="@Url.Action("Detail", new { id = item.soPhieuBanHang })" class="btn btn-sm btn-success btn-xs btn-push"><i class="fa fa-eye"></i> Xem</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>

<div class="pull-left" style="padding-top:20px">
    <h3 class="panel-title">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</h3>
</div>
<div class="pull-right">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
